{% extends 'base.html.twig' %}

{% block body %}
    <p><strong>Total visits: </strong>{{ visitsCount }}</p>
    <ul>
        {% for entry in statistics %}
            <li>{{ entry.userAgent }}</li>
        {% endfor %}
    </ul>
{% endblock %}